ul{
    width: 100px;
    text-align: center;
    list-style: none;
}
a{
    display: block;
    color: aqua;
    text-decoration: none;
}
li>a{
    background: red;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
div{
    display: none;
    font-size: 12px;
    background-color: black;
}
li:hover div{
    display: block;
}