li{
    width: 48px;
    height: 48px;
    list-style: none;
    margin-top: 2px;
    background-image: url(../img/bg.png);
    /* background-repeat: no-repeat; */
}
.a{
    background-position: 0 -51px;
}
.b{
    background-position: 0 -102px;
}
.c{
    background-position: 0 -153px;
}
.d{
    background-position: 0 -204px;
}
.e{
    background-position: 0 -255px;
}
.f{
    background-position: 0 -306px;
}
.g{
    background-position: 0 -357px;
}
div{
    width: 48px;
    height: 48px;
    background-color: black;
    font-size: 36px;
    text-align: center;
    color: aliceblue;
    display: none;
}
li:hover div{
    display: block;
}