*{
    margin: 0;
    padding: 0;
}
div{
    width: 500px;
    margin:  50px auto;
    height: 500px;
    background-color: brown;
    /* border-top-left-radius: 70px; */
    position: relative;
}
p{
    width: 400px;
    height:  350px;
    float: left;
    background-color: aqua;
    margin-top: 60px;
    margin-left: 40px;
    line-height: 40px;
    text-indent: 40px;
}
span{
    width: 0;
    height: 0;
    float: left;
    border: 30px solid red;
    /* border-right: 30px solid transparent; */
    /* border-top-left-radius: 70px; */
    border-left: 30px solid #ffffff;
    position: absolute;
    border-top: 30px solid #ffffff;
    left: -1px;
    top: -1px;

}